<!DOCTYPE html>
<html lang="en">
<head>
    <%- include('../partials/head', {title}) %>
</head>
<body>
    <%- include('../partials/header') %>
    
    <main class="container">
        <h1>Error</h1>
        <p><%= message %></p>
        <a href="/">Return Home</a>
    </main>

    <%- include('../partials/footer') %>
</body>
</html>